<div id="wizard-choose-when" class="wizard-section" style="display:none;">
  <div class="wizard-title">
    <h4>When?</h4>
  </div>
  <div class="row text-center select-timeframe">
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input when-radio" type="radio" name="timeframe" id="time-now" value="now" <%= 'checked' if !@change_request %>>
        <label class="form-check-label" for="time-now">
          Now (5 mins after submission)<a href="#" class="tool-tip" data-placement="top" title="Request will be carried out 5 minutes after submission." checked><sup>?</sup></a>
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input when-radio" type="radio" name="timeframe" id="time-future" value="future" <%= 'checked' if @change_request %>>
        <label class="form-check-label" for="time-future">
          On chosen date(s) and time<a href="#" class="tool-tip" data-placement="top" title="Request will be carried out on the specified date and time. Can also optionally be set to repeat."><sup>?</sup></a>
        </label>
      </div>
    </div>
  </div>
  <div class="row select-when collapse<%= ' show' if @change_request %>" id="future-choice">
    <div class="col-lg-6 col-md-12">
      <div class="text-center" id="event-start-title">
        <p>
          <h5>Event Start</h5>
        </p>
      </div>
      <div class="row form-inline mb-4">
        <div class="col-4 text-left pl-0">
          Start Date:
        </div>
        <div class="col-7 request-timings text-left">
          <input type="date"
                 class="form-control request-date-picker scheduled-input"
                 id="scheduled-date"
                 min='<%= Date.current %>'
                 <%= "value=#{@change_request.date}" if @change_request %>
                 name="date">
        </div>
      </div>
      <div class="row form-inline mt-4 mb-4">
        <div class="col-4 text-left pl-0">
          Time:
        </div>
        <div class="col-7 text-left request-timings">
          <input type="time"
                 class="form-control request-time-picker scheduled-input"
                 id="scheduled-time"
                 <%= "value=#{@change_request.time}" if @change_request %>
                 name="time">
        </div>
      </div>
      <% if @change_request %>
        <div id="original-start" data-value='<%= @change_request.date_time.to_s %>'></div>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12" id="request-repeat-details">
      <div class="text-center">
        <p>
          <h5>Repetition (Optional)</h5>
        </p>
      </div>
      <%= render '/change_requests/repeat_details' %>
      <br>
    </div>
  </div>
</div>
