<% if locals[:events].empty? %>
  <p class="text-center my-3">No events</p>

<% else %>
  <div class="row my-3 future-events-table text-center">
    <table class="table table-striped">

      <!-- Headers -->
      <thead class="thead-dark events-table-header">
      <th scope="col" class="events-sub-header">Date</th>
      <th scope="col" class="events-sub-header">
        Time<a href="#" class="scheduled-tooltip" id="timezone-tooltip" data-placement="top" title="In timezone GMT<%= Time.now.to_s.split(" ")[2] %>" onClick="return false;"><sup>?</sup>
      </a>
      <th scope="col" class="events-sub-header"> Description </th>
      <th scope="col" class="events-sub-header"> Manage </th>
      </thead>

      <!-- Event data -->
      <tbody class="border">
      <% locals[:events].each_value do |events| %>
        <% events.each do |event| %>
          <tr>
            <td>
              <%= event.date %>
            </td>
            <td>
              <%= event.time %>
            </td>
            <td>
              <%= event.description || event.auto_description %>
            </td>
            <td class="d-flex justify-content-center">
              <% if event.editable? %>
                <button class="btn btn-sm btn-warning edit-button"
                        onclick="window.location.href='/events/<%= event.actual_or_parent_id %>/edit?project=<%= event.project.name %>'">
                  Edit
                </button>
              <% end %>
              <% if event.cancellable? %>
                <%= button_to "Cancel", {action: 'cancel',
                                         id: event.actual_or_parent_id,
                                         project: event.project.name},
                              {data: { confirm: 'Are you sure you want to cancel this request?' },
                               class: "btn btn-sm btn-danger"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
