<% content_for :page_specific_js do %>
  <%= javascript_pack_tag 'create_event'%>
  <%= javascript_pack_tag 'chart'%>
  <%= javascript_pack_tag 'new_data_check'%>
<% end %>

  <div class="mt-4 text-center mb-4">
    <h2><%= @project.name %> - <%= "#{@change_request ? 'Edit' : 'Create'} Event" %></h2>
  </div>
  <div class="wizard">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 wizard-body">
        <% if @change_request %>
          <form action='/events/<%= @change_request.id %>/update' method='post' id='create-event-form'>
        <% else %>
          <form action='/events' method='post' id='create-event-form'>
        <% end %>
          <%= render '/change_requests/choose_counts' %>
          <%= render '/change_requests/choose_when' %>
          <%= render '/change_requests/choose_extras' %>
          <%= render '/change_requests/review' %>
          <div class="row justify-content-between" id="wizard-footer">
            <div>
              <a class="btn btn-info" id="wizard-back-button" style="visibility: hidden"
                 data-previous=""> Back</a>
            </div>
            <div>
              <a class="btn btn-warning disabled"
                 id="wizard-next-button"
                 data-current="counts" data-next="when"
                 title="No counts selected" disabled>Next</a>
              <input type="submit"
                     value="Submit"
                     class="btn btn-warning"
                     id="wizard-submit-button"
                     style="display:none;">
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag :project, @project.name %>
          <%= hidden_field_tag(:id, @change_request.id, {id: "request-id"}) if @change_request %>
           <%= hidden_field_tag(:type, @change_request ? @change_request.type : "OneOffChangeRequest", {id: "request-type"}) %>
        </form>
      </div>
    </div>
  </div>
  <%= render '/projects/latest_change' %>
