<div class="circle"></div>
<div class="two-columns full-height bg-blue">
  <div class="full-height justify-content-center">
    <%= image_tag("control_landing.svg", class: 'landing-image') %>
  </div>
  <div class="full-height">
    <div class="circle-content">
      <strong>
        Take <span class="blue-text">control</span> of your cloud resources
      </strong>
      <h4 class="tagline">
        Control your compute nodes, monitor your spending and
        get tips for improving your workflow efficiency, all using a
        clear and easy to use interface.
      </h4>
      <%= link_to "LOG IN", unauthenticated_root_path, class: "button" %>
    </div>
  </div>
</div>
<div class="about-section about-trio text-center">
  <div>
    <%= image_tag("control.svg") %>
    <h2>Control your nodes</h2>
    <p>
      Control your compute nodes using a clear, easy to use interface.
      Schedule times for node switch ons to maximise efficiency of up time,
      and set automatic shutdowns to avoid going over budget.
    </p>
  </div>
  <div>
    <%= image_tag("money.svg") %>
    <h2>Control your spending</h2>
    <p>
      See clear and detailed breakdowns of your node usage and spending.
      Set budgets for your maximum spending, and view forecasts based on your
      usage to make sure you’re not on track to spend too much.
    </p>
  </div>
  <div>
    <%= image_tag("carbon.svg") %>
    <h2>Control your carbon footprint</h2>
    <p>
      Monitor the power usage of your cloud resources, set carbon budgets,
      and get advice on how you could make your workflow more eco friendly.
    </p>
  </div>
</div>
<div class="about-section d-flex align-items-center">
  <div class="px-5 mr-5">
    <h1 class="mb-5">Advice for maximising your resources</h1>
    <p>
      We’ll analyse your usage to provide you with tips on getting the most out
      of your cloud resources. Get advice on how you could improve the efficiency
      of your spending, and how you can make your workflow more eco friendly.
    </p>
  </div>
  <%= image_tag("advice.png", class: "px-5") %>
</div>
<div class="d-flex justify-content-between">
  <%= image_tag("parting_cloud_l.svg", class: 'cloud') %>
  <%= image_tag("parting_cloud_r.svg", class: 'cloud') %>
</div>

