<% log = locals[:log] %>
<% header_class = log && log.cancellation? ? "request-cancel-header" : "request-change-header" %>
<div class="card audit-log request-change-log">
  <div class="card-header <%= header_class %> d-inline-flex justify-content-between align-items-center ">
    <span>Change request updated by <b class="cr-username"><%=User.find(log.user_id).username if log%></b></span>
    <span class="log-timestamp" data-value='<%=log.created_at if log%>'><%= log.formatted_timestamp if log%></span>
  </div>
  <div class="card-body">
    <div class="card-text">
      <%= log.card_description.html_safe if log %>
    </div>
  </div>
  <div class="card-footer text-right">
    Status: <strong class="change-status"><%= log.status if log%></strong>
  </div>
</div>
