<div class="card dashboard-card mb-4 groups <%= "core" if locals[:compute_group] == "core"%>">
  <div class="card-body d-flex flex-column">

    <!-- Card heading -->
    <div class="row justify-content-center">
      <h4 class="card-title text-center groups-card-heading"><%= locals[:compute_group].capitalize %></h4>
    </div>

    <!-- Group data -->
    <ul class="list-group list-group-flush <%= "core" if locals[:compute_group] == "core" %>">
      <li class="list-group-item dashboard-list-item">
        <strong>Status:</strong> <%= locals[:status] %>
      </li>
      <li class="list-group-item dashboard-list-item pb-3">
        <strong>
          Cost this cycle<a href="#"
                            class="tool-tip <%= "core" if locals[:compute_group] == "core"%>"
                            data-placement="top"
                            title="As of the start of today. Includes some estimation."
                            onClick="return false;"><sup>?</sup></a>:
        </strong> <%= locals[:cost_this_cycle] %> c.u.
      </li>
    </ul>

    <!-- Buttons -->
    <div class="row justify-content-md-center mt-auto text-center">
      <% unless locals[:compute_group] == "core" %>
        <% disable = locals[:end_date] && locals[:end_date] < Date.today %>
        <%= link_to 'Events',
                    project_events_path(@project, groups: [locals[:compute_group]]),
                    class: "btn btn-warning dashboard-btn groups #{'disabled' if disable}",
                    role: "button",
                    onClick: "return #{!disable}"
        %>
      <% end %>
      <%= link_to 'Costs',
                  project_costs_breakdown_path(@project, datasets: [locals[:compute_group]]),
                  class: "btn btn-info dashboard-btn groups #{'core' if locals[:compute_group] == 'core'}",
                  role: "button"
      %>
      <% unless locals[:compute_group] == "core" %>
        <%= link_to 'Logs',
                    project_audit_path(@project, groups: [locals[:compute_group]]),
                    role: "button",
                    class: "btn btn-info dashboard-btn groups"
        %>
      <% end %>
    </div>
  </div>
</div>
