<div class="card <%= "core" if locals[:compute_group] == "core" %>" >
  <div class="card-body">
    <div class="row justify-content-center">

      <!-- To balance settings button-->
      <% unless locals[:compute_group] == "core" %>
        <div class="col-2"></div>
      <% end %>

      <!-- Card heading button-->
      <div class="col-8">
        <h4 class="card-title text-center"><%= locals[:compute_group].capitalize %></h4>
      </div>

      <!-- Settings button-->
      <% unless locals[:compute_group] == "core" %>
        <div class="col-2">
          <a href="policies" aria-label="Settings">
            <i class="fa fa-cog fa-lg"></i>
          </a>
        </div>
      <% end %>
    </div>

      <!-- Group data -->
      <ul class="list-group list-group-flush <%= "core" if locals[:compute_group] == "core" %>">
        <li class="list-group-item">
          <strong>Status:</strong> <%= locals[:status] %>
        </li>
        <li class="list-group-item pb-3">
          <strong>Cost this cycle:</strong> <%= locals[:cost_this_cycle] %> c.u.
        </li>
      </ul>

      <!-- Buttons -->
      <div class="row justify-content-md-center" style="text-align:center">
        <% unless locals[:compute_group] == "core" %>
          <div class="col">
            <a class="btn btn-warning" href="events?groups[]=<%= locals[:compute_group] %>" role="button">
              <strong>Events</strong>
            </a>
          </div>
        <% end %>
        <div class="col">
          <a class="btn btn-info" href="costs-breakdown?datasets[]=<%= locals[:compute_group] %>" role="button">
              <strong>More info</strong>
            </a>
        </div>
      </div>
  </div>
</div>