<% if @list.first_logs.any? %>
  <div class="audit-logs">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h3 class="mr-auto p-2 audit-logs-title">
          History
        </h3>
      </div>
    </div>
    <%= render "partials/audit_logs", locals: {logs: @list.first_logs} %>
    <% if @list.more_logs? %>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
          <button
            class="btn btn-primary"
            id="load-more-logs"
            data-project="<%= @project.name %>"
            data-types="<%= @list.types.join(',') %>"
            <%= "data-users=#{@list.users.join(',')}" if @list.users %>
            <%= "data-statuses=#{@list.statuses.join(',')}" if @list.statuses %>
            <%= "data-groups=#{@list.groups.join(',')}" if @list.groups %>
            <%= "data-start_date=#{@list.start_date}"  if @list.start_date %>
            <%= "data-end_date=#{@list.end_date}"  if @list.end_date %>
          > Load more </button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
