<% if @nav_view != nil %>
  <ul class="nav nav-tabs<%= current_user.projects.length > 1 ? ' flush' : ' pl-2'  %> view-selection">
    <li class="nav-item">
      <%= link_to "Billing Management", billing_management_path(project: @project.name), class: "nav-link#{' active' if @nav_view == "billing"}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Costs Breakdown", costs_breakdown_path(project: @project.name), class: "nav-link#{' active' if @nav_view == "costs"}" %>
      </li>
    <% if ChangeRequestPolicy.new(current_user, ChangeRequest.new(project: @project)).create? %>
      <li class="nav-item">
        <% title = @request ? "Edit Event" : "Create Event" %>
        <%= link_to title, events_new_path(project: @project.name), class: "nav-link#{' active' if @nav_view == "event wizard"}" %>
      </li>
    <% end %>
    </li>
    <% if ChangeRequestPolicy.new(current_user, ChangeRequest.new(project: @project)).manage? %>
      <li class="nav-item">
        <%= link_to "Manage Events", events_path(project: @project.name), class: "nav-link#{' active' if @nav_view == "manage events"}" %>
      </li>
    <% end %>
    <% if ProjectPolicy.new(current_user, @project).policy_page? %>
      <li class="nav-item">
        <%= link_to "Policies", policies_path(project: @project.name), class: "nav-link#{' active' if @nav_view == "policies"}" %>
      </li>
    <% end %>
  </ul>
<% end %>
