<div class="simple-node-details">
  <% pending = @project.pending? %>
  <table class="table table-borderless" id="simple-node-details-table">
    <thead>
      <tr class="border-bottom">
        <th scope="col"><%= "Group" %></th>
        <th scope="col">Type</th>
        <th scope="col" class="text-center">Currently up</th>
        <% if pending %>
          <th scope="col" class="text-center">Pending up</th>
        <% end %>
        <th scope="col" class="text-center border-left">Requested total</th>
      </tr>
    </thead>
    <tbody>
      <% total_compute_cost = 0 %>
      <% @current_instances.each do |group, instances| %>
        <tr>
          <td><%= group %></td>
          <td></td>
          <td></td>
          <% if pending %>
            <td></td>
          <% end %>
          <td class="border-left"></td>
        </tr>
        <% instances = instances.sort_by {|instance| [instance.customer_facing_type.split(" ")[0], instance.mem] } %>
        <% instances.each do |instance| %>
          <% next if instance.node_limit == 0 %>
          <% selector = "#{group}-#{instance.instance_type}".delete("()").gsub(' ', '-').gsub(".", "_") %>
          <% on = instance.count[:on] %>
          <tr class="text-nowrap node-row group-<%=group%> <%='pending' if pending && instance.pending_change? %>">
            <td></td>
            <td scope="row"><%= instance.customer_facing_type %><a href="#" class="instance-tooltip tool-tip" data-placement="top" title="<%= instance.details_and_cost_description %>" onClick="return false;"><sup>?</sup>
              </a>
            </td>
            <td class="text-center"><%= on %></td>
            <% if pending %>
              <td class="text-center"><%= instance.pending_on %></td>
            <% end %>
            <td class="d-flex justify-content-center text-center border-left">
              <select
                id="<%= selector %>-count-select"
                name="nodes[<%= selector %>]"
                class="simple-node-count form-control"
                autocomplete="off"
              >
                <option selected value=<%= instance.pending_on %>> - </option>
                <% (0..instance.node_limit).to_a.each do |amount| %>"
                  <option><%=amount%></option>
                <% end %>
              </select>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
