<% content_for :page_specific_js do %>
<%= javascript_pack_tag 'create_event'%>
<% end %>

<main class="col-md-12 ml-sm-auto col-lg-12 px-4" role="main">
  <%= render '/partials/nav.erb' %>
  <div class="mt-4 text-center mb-4">
    <h2><%= @project.name %> - Create Event</h2>
  </div>
  <div class="wizard">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 wizard-body">
        <%= render '/events/choose_counts' %>
        <%= render '/events/choose_when' %>
        <div class="row justify-content-between" id="wizard-footer">
          <div>
            <a class="btn btn-info" id="wizard-back-button" style="visibility: hidden"
               data-previous=""> Back</a>
          </div>
          <div>
            <a class="btn btn-warning disabled" id="wizard-next-button"
               data-current="counts" title="No counts selected" disabled>Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

