<% content_for :page_specific_js do %>
  <%= javascript_pack_tag 'billing' %>
  <%= javascript_pack_tag 'new_data_check' %>
<% end %>

<%= render 'partials/title', locals: { title_text: 'billing overview', project_name: @project.name } %>
<div class="billing-overview d-flex">
  <div class="card big-padding mx-auto">
    <h4 class="text-center">Your billing policy</h4>
    <ul>
      <li>
        <span class="blue-text">Cycle length</span>
        <%= @latest_cycle_details[:length] %>
      </li>
      <li>
        <span class="blue-text">Billing date</span>
        <%= @billing_date %>
      </li>
      <li>
        <span class="blue-text">Spend profile</span>
        <%= @policy.spend_profile.capitalize %>
      </li>
      <li>
        <span class="blue-text">End Date</span>
        <%= @project.end_date ? @project.end_date : "none" %>
      </li>
    </ul>
  </div>
</div>
<%= render '/projects/cycles_table' %>
<%= render '/projects/latest_change' %>
