<% content_for :page_specific_js do %>
  <%= javascript_pack_tag 'billing' %>
  <%= javascript_pack_tag 'new_data_check' %>
<% end %>

<%= render 'partials/title', locals: { title_text: 'billing overview', project_name: @project.name } %>
<div class="billing-overview d-flex">
  <div class="card big-padding mx-auto">
    <h3 class="text-center mb-4">Your billing policy</h3>
    <ul>
      <li>
        <span>
          <span class="blue-text">Balance</span><a
          href="#"
          class="tool-tip"
          data-placement="top"
          title="Remaining at the start of the latest billing cycle"
          onClick="return false;"><sup>?</sup></a>
        </span>
        <span <%= 'class=text-danger' if @latest_cycle_details[:starting_balance] <= 0 %>>
          <%= @latest_cycle_details[:starting_balance].to_i %>c.u.
        </span>
      </li>
      <li>
        <span class="blue-text">Spend Profile</span>
        <%= @policy.spend_profile.capitalize %>
      </li>
      <li>
        <span class="blue-text">
          Cost This Billing Cycle<a
          href="#"
          class="tool-tip"
          data-placement="top"
          title="As of the start of today. Includes some estimation."
          onClick="return false;"><sup>?</sup></a>
        </span>
        <%= @latest_cycle_details[:costs_so_far].to_i %>c.u.
      </li>
      <% unless @policy.spend_profile.downcase == 'continuous' %>
        <li>
          <span class="blue-text">Cycle Budget</span>
          <%= @latest_cycle_details[:starting_budget].to_i %>c.u.
        </li>
      <% end %>
      <li>
        <span class="blue-text">
          Estimated Total This Cycle<a
          href="#"
          class="tool-tip"
          data-placement="top"
          title="At the end of the latest billing cycle. Includes any planned budget matching switch offs."
          onClick="return false;"><sup>?</sup></a>
        </span>
        <%= @latest_cycle_details[:cost].to_i %>c.u.
      </li>
      <li>
        <span class="blue-text">Billing Date</span>
        <%= @billing_date %>
      </li>
      <li>
        <span class="blue-text">Cycle length</span>
        <%= @latest_cycle_details[:length] %>
      </li>
      <li>
        <span class="blue-text">Project End Date</span>
        <%= @project.end_date ? @project.end_date : "none" %>
      </li>
    </ul>
  </div>
</div>
<%= render '/projects/cycles_table' %>
<%= render '/projects/latest_change' %>
