<div class="mt-4 text-center mb-4">
  <h2><%= @project.name %> - Dashboard</h2>
</div>

<br>

<div class="container">
  <div class="row justify-content-center">

    <!-- Overview -->
    <div class="col d-flex align-items-stretch" style="min-width: 285px; max-width:350px;">
      <div class="card w-100">
        <div class="card-body">
          <h4 class="card-title text-center">Overview</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Balance:</strong> <%= @latest_cycle_details[:starting_balance] %> c.u.
            </li>
            <li class="list-group-item pb-3">
              <strong>Cost this cycle:</strong> <%= @latest_cycle_details[:costs_so_far] %> c.u.
            </li>
            <li class="list-group-item">
              <strong>Spend profile:</strong> <%= @policy.spend_profile.capitalize %>
            </li>
            <li class="list-group-item">
              <strong>Fixed cycle budget:</strong> <%= @latest_cycle_details[:starting_budget] %> c.u.
            </li>
            <li class="list-group-item pb-3">
              <strong>Billing date:</strong> <%= @billing_date || 'N/A'%>
            </li>
            <li class="list-group-item pb-3">
              <strong>Project end date:</strong> <%= @project.end_date || 'N/A'%>
            </li>
          </ul>

          <!-- Buttons -->
          <div style="text-align:center">
            <a class="btn btn-info" href="billing-management" role="button">
              <strong>View spending breakdown</strong>
            </a>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!-- Upcoming events -->
    <div class="col d-flex align-items-stretch" style="min-width: 500px;">
      <div class="card w-100" >
        <div class="card-body">
          <h4 class="card-title text-center">Upcoming events</h4>
          <% locals = { events: @project.events_by_date(@project.events.take(5)) } %>
          <%=  render '/change_requests/dashboard_upcoming_events_table', locals: locals %>

          <!-- Buttons -->
          <div class="row justify-content-md-center" style="text-align:center">
            <div class="col col-lg-5">
              <a class="btn btn-warning" href="events" role="button">
                <strong>Create/Manage events</strong>
              </a>
            </div>
            <div class="col col-lg-5">
              <a class="btn btn-info" href="audit" role="button">
                <strong>View audit log</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>

  <!-- Groups cards -->
  <h3 class="text-center">Groups</h3>
  <br>
  <div class="row justify-content-center">
    <div class="col" style="min-width: 200px; max-width:300px;">
      <% locals = { compute_group: "core",
                    status: "UP",
                    cost_this_cycle: @group_costs[:core].total + @group_costs[:core_storage].total } %>
      <%= render '/partials/dashboard_group_card', locals: locals %>
    </div>
    <div class="vertical"></div>
    <% @project.front_end_compute_groups.keys.each do |group| %>
      <div class="col col-group">
        <% locals = { compute_group: group,
                      status: "#{@nodes_up[group][:on]} of #{@nodes_up[group][:total]} UP",
                      cost_this_cycle: @group_costs[group.to_sym].total + @group_costs["#{group}_storage".to_sym].total } %>
        <%= render '/partials/dashboard_group_card', locals: locals %>
      </div>
    <% end %>
  </div>
</div>

<br><br>
