<div class="mt-4 text-center mb-4">
  <h2><%= @project.name %> - Dashboard</h2>
</div>

<br>

<div class="container-fluid">
  <div class="card-deck mb-3 justify-content-md-center">

    <!-- Overview -->
    <div class="card dashboard-card mb-4" style="min-width: 285px; max-width:320px;">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title text-center">Overview</h4>
        <ul class="list-group list-group-flush my-3">
          <li class="list-group-item dashboard-list-item">
            <strong>Balance:</strong>
            <span  <%= 'class=text-danger' if @latest_cycle_details[:starting_balance] <= 0 %>>
              <%= @latest_cycle_details[:starting_balance].to_i %> c.u.
            </span>
          </li>
          <li class="list-group-item dashboard-list-item pb-3">
            <strong>Cost this cycle:</strong> <%= @latest_cycle_details[:costs_so_far] %> c.u.
          </li>
          <li class="list-group-item dashboard-list-item">
            <strong>Spend profile:</strong> <%= @policy.spend_profile.capitalize %>
          </li>
          <% unless @policy.spend_profile.downcase == 'continuous' %>
            <li class="list-group-item dashboard-list-item">
              <strong>Fixed cycle budget:</strong> <%= @latest_cycle_details[:starting_budget] %> c.u.
            </li>
          <% end %>
          <li class="list-group-item dashboard-list-item pb-3">
            <strong>Billing date:</strong> <%= @billing_date || 'N/A'%>
          </li>
          <li class="list-group-item dashboard-list-item pb-3">
            <strong>Project end date:</strong> <%= @project.end_date || 'N/A'%>
          </li>
        </ul>

        <!-- Button -->
        <div class="mt-auto" style="text-align:center">
          <a class="btn btn-info dashboard-btn mt-auto" href="billing-management" role="button">
            View spending breakdown
          </a>
        </div>

      </div>
    </div>

    <!-- Upcoming events -->
    <div class="card dashboard-card mb-4" style="min-width: 620px; max-width:800px;">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title text-center">Upcoming events</h4>
        <% locals = { events: @project.events_by_date(@project.events.take(5)) } %>
        <%=  render '/change_requests/dashboard_upcoming_events_table', locals: locals %>

        <!-- Buttons -->
        <div class="row justify-content-md-center mt-auto" style="text-align:center">
          <div class="col col-lg-5">
            <% if @project.end_date && @project.end_date < Date.today %>
              <% disable = true %>
            <% end %>
            <a class="btn btn-warning dashboard-btn mt-auto <%= "disabled" if disable %>" href="<%= disable ? "#" : "events" %>" role="button">
              Create/Manage events
            </a>
          </div>
          <div class="col col-lg-5">
            <a class="btn btn-info dashboard-btn mt-auto" href="audit" role="button">
              View audit log
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Groups cards -->
  <h3 class="text-center">Groups</h3>
  <br>
  <div class="card-deck mb-3 justify-content-center">
    <% locals = { compute_group: "core",
                  status: "UP",
                  cost_this_cycle: @group_costs[:core].total + @group_costs[:core_storage].total } %>
    <%= render '/partials/dashboard_group_card', locals: locals %>

    <% @project.front_end_compute_groups.keys.each do |group| %>
      <% locals = { compute_group: group,
                    end_date: @project.end_date,
                    status: "#{@nodes_up[group][:on]} of #{@nodes_up[group][:total]} UP",
                    cost_this_cycle: @group_costs[group.to_sym].total + @group_costs["#{group}_storage".to_sym].total } %>
      <%= render '/partials/dashboard_group_card', locals: locals %>
    <% end %>
  </div>
</div>
<br><br>
