<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flight Control</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= javascript_pack_tag 'application' %>
    <%= yield :page_specific_js %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
  </head>

  <body>
    <nav class="d-flex navbar navbar-dark justify-content-between align-items-center brand-bar bg-dark">
      <div class="navbar-brand-wrapper">
        <a class="navbar-brand" href="/" style="">
          <%= image_tag("logo-wide.png", height: "50", class: "brand-logo") %>
        </a>
        <p class="control-subtitle">control</p>
      </div>
      <% if current_user %>
        <div class="d-inline-flex">
          <span class="navbar-brand"><%= current_user.username %></span>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-secondary"%>
        </div>
      <% end %>
    </nav>
    <div class="container-fluid pl-0 pr-0 <%= "full-height" unless current_user %>">
      <div class="<%= "full-height" unless current_user %> <%= "row" if current_user && current_user.multi_project_user? %>">
        <%= render '/partials/project_nav.erb' %>
        <% if current_user && current_user.multi_project_user? %>
          <main class="col-md-10 ml-sm-auto col-lg-10 px-0" role="main">
        <% end %>
        <%= render '/partials/nav.erb' %>
        <div class="row session-alerts <%= "overlaid" unless current_user %>">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <%= render 'partials/flashes' %>
          </div>
        </div>
        <% if current_user && !current_user.multi_project_user? %>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
        <% end %>
        <%= yield %>
        <% if current_user && !current_user.multi_project_user? %>
          </div></div>
        <% end %>
        <% if current_user && current_user.multi_project_user? %>
          </main>
        <% end %>
      </div>
    </div>
  </body>
</html>
