<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flight Control</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :page_specific_js %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow justify-content-between">
      <div class="navbar-brand d-inline-flex align-items-center">
        <%= image_tag("logo-square.png", width: "50", height: "50", class: "d-inline-block align-top") %>
        <span class="pl-2">Flight Control</span>
      </div>
      <% if current_user %>
        <div class="d-inline-flex">
          <span class="navbar-brand"><%= current_user.username %></span>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-secondary"%>
        </div>
      <% end %>
    </nav>
    <div class="container-fluid <%= 'pl-0' if current_user %>">
      <div class="row">
        <%= render '/partials/project_nav.erb' %>
         <%= yield %>
      </div>
    </div>
  </body>
</html>
